/* NAVBAR */
.navbar-brand {
    font-family: 'Fjalla One', sans-serif;
    font-size: 32px;
}
.nav-link {
    margin-right: 25px;
}

/* ---HOME PAGE--- */
/* JUMBOTRON */
.jumbotron {
    background-image: url("Background.png");
    background-size: cover;
    height: 510px;
    color: white;
    line-height: 100px;
}
.jumbotron .display-4 {
    font-size: 70px;
    margin-top: 20px;
    font-family: 'Cormorant', serif;
}
.jumbotron .lead {
    font-size: 20px;
    font-family: 'Cormorant', serif;
}

/* Intro */
.intro {
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}
.roundpic img {
    width: 180px;
}
.col-intro p {
    font-size: 16px;
}

/* ---PROFILE PAGE--- */
.aboutme {
    text-align: center;
    margin-top: 120px;
}
.education {
    text-align: center;
    margin-top: 100px;
}
.col-edu img{
    width: 90px;
}

/* MOMENTS PAGE */
.moments h3 {
    margin-bottom: 60px;
    color: #DF8721;
    margin-top: 50px;
    text-align: center;
}

/* Font */
h2 {
    font-weight: bold;
    color: #DF8721;
    font-size: 25px;
}
.h3-grey h3 {
    color: #767574;
}

h3 {
    color: #DF8721;
    font-weight: bold;
}
p, h3, h1 {
    font-family: 'Poppins', sans-serif;
}

/* Contact */
#contact-me {
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
}
.contact {
    text-align: center;
    margin-top: 50px;
    padding: 70px;
    background-color: #F2E7DA;
    width: 100%;
}
.col-contact img {
    width: 70%;
}
.btn-outline-dark {
    width: 105%;
    font-size: 9px;
}
.icon {
    margin-bottom: 10px;
}

/* DESKTOP VER. */
@media (min-width: 992px) {
    /* Navbar */
    .navbar {
        background-color: rgba(0, 0, 0, 0.75) !important;
    }
    .nav-link:hover {
        font-weight: bolder;
    }

    /* Jumbotron */
    .jumbotron {
        margin-top: -75px;
        height: 610px;
    }
    .jumbotron .display-4 {
        font-size: 90px;
    }
    .jumbotron p {
        font-size: 25px;
    }
    /* Intro */
    .roundpic img {
        width: 180px;
    }
    .roundpic {
        left: 250px;
    }
    .col-intro {
        right: 70px;
        margin-top: 20px;
    }
    h2 {
        font-size: 32px;
    }
    
    /* Profile Page */
    #about-me {
        margin-top: -75px;
    }
    .col1, .col3 {
        left: 100px;
    }
    .col2 {
        right: 100px;
    }
    .col4 {
        text-align: right;
        right: 100px;
    }
    .aboutme {
        text-align: left;
    }
    .h3-grey {
        text-align: right;
    }
    /* Education */
    .education {
        width: 70%;
    }
    .col-edu img{
        width: 130px;
    }
    
    /* Contact */
    #contact-me {
        font-size: 34px;
    }
    .contact {
        width: 60%;
    }
    .col-contact img {
        width: 50%;
    }
    .btn-outline-dark {
        width: fit-content;
        font-size: 16px;
    }
 }